@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: comicBold;
	src: url('/media/style/comic.ttf');
}
/*@font-face {
	font-family: helveticaNeue;
	src: url('HelveticaNeueLight.ttf');
}*/
body {
	background-color:#ffffff;
	background-image: url(/media/img/backg.png);
	/*font-family: helveticaNeue, Helvetica;*/
	font-family: comicBold, "Comic Sans MS", cursive, sans-serif;
}
h1, h2, h3 {
	color:#90AA30;
}
#main {
	width: 900px;
	margin:0 auto;
}
#logo {
	background-color: transparent;
	background-image: url(/media/img/itctLogo.png);
	background-repeat: no-repeat;
	width: 119px;
	height: 150px;
	z-index: 30;
	float: left;
	position: relative;
}
#logo2 {
	background-color: transparent;
	background-image: url(/media/img/spediLogoText.png);
	background-repeat: no-repeat;
	width: 255px;
	height: 85px;
	z-index: 25;
	float: left;
	position: relative;
	top: 20px;
}
#picField {
	background-image: url(/media/img/pic1.png);
	background-repeat: no-repeat;
	width: 520px;
	height: 163px;
	z-index: -1;
	float: right;
	position: relative;
	top: -10px;
}
#menu {
	clear:both;
	position: relative;
	top: -45px;
	right: 0px;
	background-color: transparent;
	background-image: url(/media/img/menuBack.png);
	background-repeat: no-repeat;
	background-position:right;
	height: 42px;
	width: 831px;
	float: right;
}
#menuText {
	font-family: comicBold, "Comic Sans MS", cursive, sans-serif;
	color: #FFFFFF;
	text-decoration:none;
	font-size: 15px;
	position:relative;
	top: -16px;
	padding: 3px 0px 0px 30px;
}
.butt {
	color: #FFFFFF;
	text-decoration:none;
	font-size: 20px;
	font-weight:900;
	text-shadow: 0px 0px 2px #000000;
}
.butt p, #menuText p {
	float: left;
	padding: 20px 15px 0px 15px;
}
#menuText img {
	margin-top: -5px;
}
.butt p:hover {
	cursor:pointer;
	cursor:hand;
	text-shadow: 0px 0px 7px #00f6ff;
}
/*CONTENT:*/
#content {
	clear:both;
	position: relative;
	top: -30px;
}
#content h1 {
	font-family: comicBold, "Comic Sans MS", cursive, sans-serif;
	color: #FFFFFF;
	text-decoration:none;
	font-size: 20px;
	font-weight:900;
	text-shadow: 0 0 2px #000000;
	margin: 0;
}
.leftCol {
	background-color: #FFFFFF;
	float: left;
	width: 266px;
	padding-left: 20px
}
.leftCol .blockHead {
	background-color: transparent;
	background-image: url(/media/img/blockHead1.png);
	background-repeat: no-repeat;
	height: 39px;
	width: 266px;
	padding: 5px 0px 0px 20px;
}
.blockMid {
	background-image: url(/media/img/blockLeft1.png), url(/media/img/blockRight1.png);
	background-position: top 39px left, top 39px right;
	background-repeat: repeat-y, repeat-y;
	padding: 0px 20px 0px 20px;
	margin: 0;
}
p {
	margin: 0;
}
.leftCol p {
	background-color: transparent;
	background-image: url(/media/img/dotGreen.png);
	background-repeat: no-repeat;
	background-position: left top 20px;
	padding: 15px 0px 0px 25px;
}
.leftCol h10 {
	padding-left: 15px;
}
.rightCol {
	background-color: #FFFFFF;
	float: right;
	width: 544px;
	padding-right: 20px
}
.rightCol .blockHead {
	background-color: transparent;
	background-image: url(/media/img/blockHead2.png);
	background-repeat: no-repeat;
	height: 44px;
	width: 544px;
	padding: 5px 0px 0px 20px;
}
.blockBottom {
	background-image: url(/media/img/blockBotLeft.png), url(/media/img/blockBotMid.png), url(/media/img/blockBotRight.png);
	background-position: bottom left, bottom left 14px, bottom right;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: auto auto, 97% 27px, auto auto;
	height: 27px;
	width: 100%;
}

/*BUTTON*/
form .outer-submit {
	font-family: Arial;
	color: #FFFFFF;
	text-decoration:none;
	font-size: 15px;
	font-weight:900;
	text-shadow: 0px 0px 10px #58661e;
	background-color: transparent;
	background-image: url(/media/img//butBluLeft.png);
	background-repeat: no-repeat;
	position:relative;
	float: right;
	padding: 0px 0px 0px 10px;
	height: 44px;

}
form input[type=submit] {
	font-family: Arial;
	color: #FFFFFF;
	font-size: 15px;
	font-weight:900;
	text-shadow: 0px 0px 10px #014ab6;
	height: 44px;
	background-color: transparent;
	background-image: url(/media/img/butBluRight.png);
	background-position: right top;
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px 10px 10px 0px;
	border: none;
}
form .outer-submit:hover {
	cursor:pointer;
	cursor:hand;
	text-shadow: 0px 0px 10px #00f6ff;
}
form input[type=submit]:hover {
	cursor:pointer;
	cursor:hand;
	text-shadow: 0px 0px 10px #00f6ff;
}


